<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtpt.dao.IceDsjOrdersMapper">
  <resultMap id="BaseResultMap" type="com.mtpt.bean.IceDsjOrders">
    <id column="dx_id" jdbcType="INTEGER" property="dxId" />
    <result column="dx_city" jdbcType="VARCHAR" property="dxCity" />
    <result column="dx_dn" jdbcType="VARCHAR" property="dxDn" />
    <result column="dx_ap" jdbcType="VARCHAR" property="dxAp" />
    <result column="dx_sys" jdbcType="VARCHAR" property="dxSys" />
    <result column="dx_inn" jdbcType="VARCHAR" property="dxInn" />
    <result column="dx_rh" jdbcType="VARCHAR" property="dxRh" />
    <result column="dx_rhlx" jdbcType="VARCHAR" property="dxRhlx" />
    <result column="dx_firp" jdbcType="VARCHAR" property="dxFirp" />
    <result column="dx_firdw" jdbcType="VARCHAR" property="dxFirdw" />
    <result column="dx_addtime" jdbcType="TIMESTAMP" property="dxAddtime" />
    <result column="dx_ifdx" jdbcType="VARCHAR" property="dxIfdx" />
  </resultMap>
  <sql id="Base_Column_List">
    dx_id, dx_city, dx_dn, dx_ap, dx_sys, dx_inn, dx_rh, dx_rhlx, dx_firp, dx_firdw, 
    dx_addtime, dx_ifdx
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ice_dsj_orders
    where dx_id = #{dxId,jdbcType=INTEGER}
  </select>
  
  <select id="selectCountByPage" parameterType="com.mtpt.bean.page.TotalPage" resultType="java.lang.Integer">
  	select count(1)
  	from ice_dsj_orders
  	<where>
  		<if test="adtime!=null and adtime!=''">
  			and dx_addtime like '${adtime} %'
  		</if>
  	</where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ice_dsj_orders
    where dx_id = #{dxId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mtpt.bean.IceDsjOrders">
    insert into ice_dsj_orders (dx_id, dx_city, dx_dn, 
      dx_ap, dx_sys, dx_inn, 
      dx_rh, dx_rhlx, dx_firp, 
      dx_firdw, dx_addtime, dx_ifdx
      )
    values (#{dxId,jdbcType=INTEGER}, #{dxCity,jdbcType=VARCHAR}, #{dxDn,jdbcType=VARCHAR}, 
      #{dxAp,jdbcType=VARCHAR}, #{dxSys,jdbcType=VARCHAR}, #{dxInn,jdbcType=VARCHAR}, 
      #{dxRh,jdbcType=VARCHAR}, #{dxRhlx,jdbcType=VARCHAR}, #{dxFirp,jdbcType=VARCHAR}, 
      #{dxFirdw,jdbcType=VARCHAR}, #{dxAddtime,jdbcType=TIMESTAMP}, #{dxIfdx,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mtpt.bean.IceDsjOrders">
    insert into ice_dsj_orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dxId != null">
        dx_id,
      </if>
      <if test="dxCity != null">
        dx_city,
      </if>
      <if test="dxDn != null">
        dx_dn,
      </if>
      <if test="dxAp != null">
        dx_ap,
      </if>
      <if test="dxSys != null">
        dx_sys,
      </if>
      <if test="dxInn != null">
        dx_inn,
      </if>
      <if test="dxRh != null">
        dx_rh,
      </if>
      <if test="dxRhlx != null">
        dx_rhlx,
      </if>
      <if test="dxFirp != null">
        dx_firp,
      </if>
      <if test="dxFirdw != null">
        dx_firdw,
      </if>
      <if test="dxAddtime != null">
        dx_addtime,
      </if>
      <if test="dxIfdx != null">
        dx_ifdx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dxId != null">
        #{dxId,jdbcType=INTEGER},
      </if>
      <if test="dxCity != null">
        #{dxCity,jdbcType=VARCHAR},
      </if>
      <if test="dxDn != null">
        #{dxDn,jdbcType=VARCHAR},
      </if>
      <if test="dxAp != null">
        #{dxAp,jdbcType=VARCHAR},
      </if>
      <if test="dxSys != null">
        #{dxSys,jdbcType=VARCHAR},
      </if>
      <if test="dxInn != null">
        #{dxInn,jdbcType=VARCHAR},
      </if>
      <if test="dxRh != null">
        #{dxRh,jdbcType=VARCHAR},
      </if>
      <if test="dxRhlx != null">
        #{dxRhlx,jdbcType=VARCHAR},
      </if>
      <if test="dxFirp != null">
        #{dxFirp,jdbcType=VARCHAR},
      </if>
      <if test="dxFirdw != null">
        #{dxFirdw,jdbcType=VARCHAR},
      </if>
      <if test="dxAddtime != null">
        #{dxAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dxIfdx != null">
        #{dxIfdx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mtpt.bean.IceDsjOrders">
    update ice_dsj_orders
    <set>
      <if test="dxCity != null">
        dx_city = #{dxCity,jdbcType=VARCHAR},
      </if>
      <if test="dxDn != null">
        dx_dn = #{dxDn,jdbcType=VARCHAR},
      </if>
      <if test="dxAp != null">
        dx_ap = #{dxAp,jdbcType=VARCHAR},
      </if>
      <if test="dxSys != null">
        dx_sys = #{dxSys,jdbcType=VARCHAR},
      </if>
      <if test="dxInn != null">
        dx_inn = #{dxInn,jdbcType=VARCHAR},
      </if>
      <if test="dxRh != null">
        dx_rh = #{dxRh,jdbcType=VARCHAR},
      </if>
      <if test="dxRhlx != null">
        dx_rhlx = #{dxRhlx,jdbcType=VARCHAR},
      </if>
      <if test="dxFirp != null">
        dx_firp = #{dxFirp,jdbcType=VARCHAR},
      </if>
      <if test="dxFirdw != null">
        dx_firdw = #{dxFirdw,jdbcType=VARCHAR},
      </if>
      <if test="dxAddtime != null">
        dx_addtime = #{dxAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dxIfdx != null">
        dx_ifdx = #{dxIfdx,jdbcType=VARCHAR},
      </if>
    </set>
    where dx_id = #{dxId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mtpt.bean.IceDsjOrders">
    update ice_dsj_orders
    set dx_city = #{dxCity,jdbcType=VARCHAR},
      dx_dn = #{dxDn,jdbcType=VARCHAR},
      dx_ap = #{dxAp,jdbcType=VARCHAR},
      dx_sys = #{dxSys,jdbcType=VARCHAR},
      dx_inn = #{dxInn,jdbcType=VARCHAR},
      dx_rh = #{dxRh,jdbcType=VARCHAR},
      dx_rhlx = #{dxRhlx,jdbcType=VARCHAR},
      dx_firp = #{dxFirp,jdbcType=VARCHAR},
      dx_firdw = #{dxFirdw,jdbcType=VARCHAR},
      dx_addtime = #{dxAddtime,jdbcType=TIMESTAMP},
      dx_ifdx = #{dxIfdx,jdbcType=VARCHAR}
    where dx_id = #{dxId,jdbcType=INTEGER}
  </update>
</mapper>