<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtpt.dao.MoBookDataMapper">
  <resultMap id="BaseResultMap" type="com.mtpt.bean.MoBookData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dn" jdbcType="VARCHAR" property="dn" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="mo_time" jdbcType="TIMESTAMP" property="moTime" />
    <result column="confim_time" jdbcType="TIMESTAMP" property="confimTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dn, message, state, mo_time, confim_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mo_bookdata
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPhoneNum" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from mo_bookdata
  	where dn=#{phone}
  	order by mo_time DESC
  	LIMIT 1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mo_bookdata
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mtpt.bean.MoBookData">
    insert into mo_bookdata (id, dn, message, 
      state, mo_time, confim_time
      )
    values (#{id,jdbcType=INTEGER}, #{dn,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{moTime,jdbcType=TIMESTAMP}, #{confimTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mtpt.bean.MoBookData">
    insert into mo_bookdata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dn != null">
        dn,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="moTime != null">
        mo_time,
      </if>
      <if test="confimTime != null">
        confim_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dn != null">
        #{dn,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="moTime != null">
        #{moTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confimTime != null">
        #{confimTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mtpt.bean.MoBookData">
    update mo_bookdata
    <set>
      <if test="dn != null">
        dn = #{dn,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="moTime != null">
        mo_time = #{moTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confimTime != null">
        confim_time = #{confimTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mtpt.bean.MoBookData">
    update mo_bookdata
    set dn = #{dn,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      mo_time = #{moTime,jdbcType=TIMESTAMP},
      confim_time = #{confimTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>