<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtpt.dao.TBActivilistMapper">
  <resultMap id="BaseResultMap" type="com.mtpt.bean.TBActivilist">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="actititle" jdbcType="VARCHAR" property="actititle" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="datadetail" jdbcType="VARCHAR" property="datadetail" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, actititle, start_time, end_time, datadetail, addtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_activilist
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectActiByPage" parameterType="com.mtpt.bean.page.TBRecordPage" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from tb_activilist
  	order by id DESC
  	limit #{start},#{limit}
  </select>
  
  <select id="selectActiCount" parameterType="com.mtpt.bean.page.TBRecordPage" resultType="java.lang.Integer">
  	select count(1)
  	from tb_activilist
  	order by id DESC
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_activilist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mtpt.bean.TBActivilist">
    insert into tb_activilist (id, actititle, start_time, 
      end_time, datadetail, addtime
      )
    values (#{id,jdbcType=INTEGER}, #{actititle,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{datadetail,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mtpt.bean.TBActivilist">
    insert into tb_activilist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="actititle != null">
        actititle,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="datadetail != null">
        datadetail,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="actititle != null">
        #{actititle,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datadetail != null">
        #{datadetail,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mtpt.bean.TBActivilist">
    update tb_activilist
    <set>
      <if test="actititle != null">
        actititle = #{actititle,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="datadetail != null">
        datadetail = #{datadetail,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mtpt.bean.TBActivilist">
    update tb_activilist
    set actititle = #{actititle,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      datadetail = #{datadetail,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>