<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtpt.dao.TBNmCityMapper">
  <resultMap id="BaseResultMap" type="com.mtpt.bean.TBNmCity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="citynum" jdbcType="INTEGER" property="citynum" />
    <result column="cityname" jdbcType="VARCHAR" property="cityname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, citynum, cityname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_nmcity
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectCityNameByNum" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from tb_nmcity
  	where citynum=#{num}
  	order by citynum
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_nmcity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mtpt.bean.TBNmCity">
    insert into tb_nmcity (id, citynum, cityname
      )
    values (#{id,jdbcType=INTEGER}, #{citynum,jdbcType=INTEGER}, #{cityname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mtpt.bean.TBNmCity">
    insert into tb_nmcity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="citynum != null">
        citynum,
      </if>
      <if test="cityname != null">
        cityname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="citynum != null">
        #{citynum,jdbcType=INTEGER},
      </if>
      <if test="cityname != null">
        #{cityname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mtpt.bean.TBNmCity">
    update tb_nmcity
    <set>
      <if test="citynum != null">
        citynum = #{citynum,jdbcType=INTEGER},
      </if>
      <if test="cityname != null">
        cityname = #{cityname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mtpt.bean.TBNmCity">
    update tb_nmcity
    set citynum = #{citynum,jdbcType=INTEGER},
      cityname = #{cityname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>